/**
 * author: Tsong
 * time: 2024/2/6 22:41
 */
@import "@/common/style/custom-style.less";

.top-bar {
  height: 80px;
  width: 100%;
  margin: 0 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center; // 垂直
  font-size: 24px;

  .title{
    margin-right: 0.5em;
    color: #005EB8;
    &:hover{
      text-decoration: underline;
    }
  }
}
