/**
 * author: Tsong
 * time: 2024/2/6 23:21
 */
@import "@/common/style/custom-style.less";

.sider {
  min-width: @menu-width !important;
  min-height: calc(100vh);
  overflow: hidden;
  color: #1a1a1a;
  background: white;
}
