 // background-color: aquamarine;
.table-div{
    margin: 0 2em;
    p{
        display: block;
        border-bottom: #005EB8 2px solid;
        font-size: 20px;
        font-weight: 600;
        color: #005EB8;  
    }
}

.request-detail{
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    width: 800px;
    height: 100vh;
    .title{
        font-size: 24px;
        font-weight: 500;
        text-decoration: underline;
        color: #005EB8;
    }
    .form-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .detail{
            width: 350px;
            span{
                font-weight: 800;
            }
            .item-txt{
                
            }
            .typo-txt{
                border: #000000 1.5px solid;
                padding: 5px;
                border-radius: 2px;
                width: 100%;
                margin: 10px 0;
            }
        }
    }
}
    