 // background-color: aquamarine;
.table-div{
    margin: 0 2em;
    .request-table{
        width: fit-content;
    }
}

.request-detail{
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    height: 100vh;
    width: 100vw;
    .form-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .detail{
            margin-left: 20px;
            width: 350px;
            span{
                font-weight: 800;
            }
            p{
                margin-top: 0;
                margin-bottom: 1em;
            }
            .item-txt{}
            .typo-txt{
                border: #000000 1.5px solid;
                padding: 5px;
                border-radius: 2px;
                width: 100%;
                margin: 10px 0;
            }
        }
        .reject-reason{
            margin: 10px 30px;
            
        }
        .check{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: end;
            margin-top: 30px;
            .btn{
                margin-left: 1em;
            }
        }
    }
}
    